# App
DEBUG=true

# Database
POSTGRES_DB={{ postgres__db }}
POSTGRES_USER={{ postgres__user }}
POSTGRES_PASSWORD={{ postgres__password }}
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
